version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:lts-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{checksum "package-lock.json"}}
      - run: npm ci
      - run: cd ./node_modules/protractor && npm i webdrivermanager@latest
      - save_cache:
          paths:
            - ~/.npm
          key: v1-dependencies-{{checksum "package-lock.json"}}
      - run: npm run lint
      - run: npm run build:prod
      - run: npm run test:coverage -- --watch=false
      - run:
          name: Tar and Gzip compiled app
          command: tar zcf dist.tar.gz dist/local-weather-app
      - store_artifacts:
          path: dist.tar.gz
  
workflows:
  version: 2
  build-and-test:
    jobs:
      - build
      